In [4]:
import tushare as ts
ts.set_token('573e0e33bb1b9ccd33334d5a393c06d0279193c034d7f49143bec0f6')

pro = ts.pro_api()

df = pro.tmt_twincome(item='27', start_date='20120101', end_date='20221010')
df

        date item   op_income
0   20180731   27  11846851.0
1   20180629   27  11665369.0
2   20180531   27  13695121.0
3   20180430   27  14520977.0
4   20180331   27  15239863.0
5   20180227   27  11617564.0
6   20180131   27  15288546.0
7   20171229   27  16268101.0
8   20171130   27  16633125.0
9   20171031   27  16935950.0
10  20170930   27  17098538.0
11  20170831   27  15922152.0
12  20170731   27  14749543.0
13  20170630   27  14889915.0
14  20170531   27  14279514.0
15  20170428   27  12516865.0
16  20170331   27  14523890.0
17  20170224   27  12890958.0
18  20170124   27  13298319.0
19  20161230   27  14898550.0
20  20161130   27  13218786.0
21  20161031   27  11368485.0
22  20160930   27  10280845.0
23  20160831   27  10559717.0
24  20160729   27  14478596.0
25  20160630   27  17407422.0
26  20160531   27  18695511.0
27  20160429   27  18560732.0
28  20160331   27  19739049.0
29  20160226   27  18244649.0